{{ define "main" }}
{{ $caller := . }}

<style type="text/css" media="all">
 .header{
   margin-bottom: 1rem;
 } 
</style>

<main class="page-main pa4" role="main">
  <section class="blog-intro mw8 center tc mb1">
    <h2 class="header f2 f1-ns lh-solid center">{{ .Title }}</h2>
    <p class="f6 f5-ns measure lh-copy center">{{ .Description }}</p>
    {{ if .Params.show_author_byline }}<p class="f7 measure lh-copy tc center i">{{ if .Params.author }}by {{ .Params.author }}{{ end }}</p>{{ end }}
  </section>
  <section class="blog-content db flex-ns flex-row-ns flex-wrap-ns items-start mw8 center">
    <!-- .Pages will go down only one level deep-->
    {{ $pages := (where .Pages "Type" "graphs") }}
      {{ range $pages }}
        {{ .Scratch.Set "$root" $caller }}
        {{ partial "summary-grid" . }}
      {{ end }}
  </section>
</main>
{{ end }}
