// Override this file to add your own SCSS styling.

@keyframes slide-from-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.personals {
  animation: slide-from-right 2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  animation-delay: 100ms;
}


.personals-container{
  animation: slide-from-left 2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  animation-delay: 100ms;
}
